* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1B2E35;
}

#tela-cadastro{
    display: flex;
    width: 100%;
    height: 100vh;
}

#caixa-cadastro{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#imagem-lateral{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#imagem-cadastro{
    width: 80%;
    height: 80%;
}

#cancelar-cadastrar{
    background-color: #FEFEFE;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 13px;
    color: #051E27;
    font-weight: bolder;
    text-decoration: none;
    transition: 0.2s;
}

#salvar{
    background-color: #FEFEFE;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 13px;
    color: #051E27;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

#salvar:hover {
    background-color: #143D4A;
    color: #FEFEFE;
}

#cancelar-cadastrar:hover {
    background-color: #143D4A;
    color: #FEFEFE;
}

#formulario{
    display: flex;
    flex-direction: column;
    background-color: #385A64;
    padding: 80px 30px 40px;
    border-radius: 20px;
    width: 550px;
    box-shadow: #051E27 10px;
}

#titulo{
    color: #FEFEFE;
    margin-bottom: 30px;
    text-align: center;
}

#botoes{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
}

.caixadeentrada{
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    outline: none;
    background-color: #fff;
    color: #333;
    font-size: 12px;
}

.div-linhas {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.grupo-form{
    display: flex;
    flex-direction: column;
}

.linha1 {
    flex: 3;
}

.linha2 {
    flex: 2;
}

.linha3 {
    flex: 1;
    width: 100%;
}

.rotulo{
    color: #FEFEFE;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}

.erro{
    color: rgb(163, 10, 10);
    text-align: center;
    font-size: 15px;
    margin-bottom: 5px;
}
