#menu {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu-links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}
#menu-links a{
    text-decoration: none;
    color: #1B2E35;

}

#menu-links li{
    list-style: none;
}

#botao-perfil{
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#logo {
    margin-left: 20px;

}