*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1B2E35;
}

#titulo {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 25px;
    color: #ffffff;
}

#div-tabela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    align-items: center;
}

#tabela {
    width: 90%;
    max-width: 2000px;
    margin-top: 30px;
    border-collapse: collapse;
    overflow: hidden;
}

#tabela thead {
    width: 100%;
    background-color: #385A64;
    color: #D0D0D0;
}

#tabela th, #tabela td {
    padding: 12px 20px;
    font-size: 14px;
    text-align: center;
}

#tabela th:last-child, #tabela td:last-child {
    padding-right: 20px;
}

#tabela tbody tr:nth-child(even) {
    background-color: #D0D0D0;
    color: #1B2E35;
}


#tabela tbody tr:nth-child(odd) {
    background-color: #2E3A3D;
    color: #D0D0D0;
}

#tabela tbody tr:hover {
    background-color: #42585E;
    color: #D0D0D0;
}

#tabela tbody tr td .fa-solid {
    color: inherit !important;
    transition: color 0.3s ease;
    cursor: pointer;
    fill: currentColor !important;
}

.acoes {
    display: flex;
    gap: 20px;
    color: inherit !important;
    justify-content: flex-end;
    align-items: center;
}

.acoes img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#cancelar-cadastrar{
    background-color: #FEFEFE;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 13px;
    color: #051E27;
    font-weight: bolder;
    text-decoration: none;
    transition: 0.2s;
    margin-left: 97px;
}

#cancelar-cadastrar:hover {
    background-color: #143D4A;
    color: #FEFEFE;
}

.mensagem{
    display: block;
    width: 90%;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(255, 176, 176);
    color: rgb(255, 0, 0);
    border-radius: 5px;
}