*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #F9F3F3;
    background-color: #1B2E35;
}
#menu {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu-links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}
#menu-links a{
    text-decoration: none;
    color: #1B2E35;

}

#menu-links li{
    list-style: none;
}

#botao-perfil{
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#logo {
    margin-left: 20px;

}
#cartoes-resumo{
    display: flex;
    justify-content: center;
}

.total-cadastros{
    background-color: #006666;
    width: 300px;
    margin: 0 50px 50px 0;
    padding: 20px;
    border-radius: 10px;
    text-align: end;
}
.botao-cadastrar{
    width: 320px;
    height: 250px;
    color: #F9F3F3;
    background-color: #006666;
    text-align: start;
    border-radius: 10px;
    border: none;
    margin: 70px;
    padding: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.botao-cadastrar:hover {
    background: #0FA9A9;
}
#caixa-cadastrar{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.imagens-cadastro{
    margin:10px 80px 10px;
}
#bem-vindo{
    text-align: center;
    margin: 35px;
    font-size: 40px;
    color: #4E7C89;
}

#texto-cadastrar{
    color: #4E7C89;
    margin-left: 30px;
    font-size: 40px;
    margin-top: 10px;
}